// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: #22262e;
$fg_color: #f4f4f7;
$base_color: #17191e;
$text_color: #e9efff;
$selected_bg_color: #61666c;
$selected_fg_color: #e9efff;
$tooltip_bg_color: #22262e;
$tooltip_fg_color: #e9efff;

$selected_borders_color: darken($selected_bg_color, 50%);
$borders_color: shade($bg_color, 0.88);
$borders_edge: transparentize($fg_color, 0.3);

// dark colors
$dark_bg_color: #22262e;
$dark_fg_color: #e9efff;

// shadows
$dark_shadow: #17191e;
$light_shadow: #f4f4f7;

// white and black
$black: #000;
$white: #fff;

$button_border: shade($base_color, 0.9);
$entry_border: alpha($dark_shadow, 0.06);

$scrollbar_bg_color: mix($base_color, $bg_color, 0.4);
$scrollbar_slider_color: shade($bg_color, 0.5);
$scrollbar_slider_hover_color: shade($bg_color, 0.3);
$scrollbar_slider_active_color: lighten($selected_bg_color, 10%);

$switch_disabled_bg_color: #1a1c23;
$switch_disabled_border_color: #1a1c23;
$switch_disabled_fg_color: #e9efff;
$switch_disabled_slider_bg_color: #111317;
$switch_bg_color: mix($bg_color, $base_color, 0.3);
$switch_fg_color: #e9efff;
$switch_slider_bg_color: #fbfbfb;

// misc colors used by gtk+
$info_fg_color: #f4f4f7;
$info_bg_color: #0badff;
$warning_fg_color: #17191e;
$warning_bg_color: #ffff73;
$question_fg_color: #17191e;
$question_bg_color: #8265ff;
$error_fg_color: #17191e;
$error_bg_color: #ff3d81;
$link_color: #8b9cbe;
$success_color: #85ffe0;
$warning_color: #f0ffaa;
$error_color: #ff3d81;

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_color: $dark_bg_color;
$titlebar_fg_color: $dark_fg_color;

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_text_color: $white;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);
$osd_insensitive_bg_color: mix($osd_fg, $osd_bg, 0.5);
$osd_insensitive_fg_color: $fg_color;
$osd_borders_color: shade($osd_bg, 0.85);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg: $titlebar_bg_color;
$wm_border_focused: transparent;
$wm_border_unfocused: transparent;
$wm_title_focused: mix($titlebar_fg_color, $titlebar_bg_color, 0.1);
$wm_title_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, 0.8);
$wm_icons_focused: mix($titlebar_fg_color, $titlebar_bg_color, 0.1);
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_fg_color, 0.8);
$wm_icons_unfocused: mix($titlebar_fg_color, $titlebar_bg_color, 0.4);
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_fg_color, 0.8);

//insensitive state derived colors
$insensitive_fg_color: $fg_color;
$insensitive_bg_color: mix($bg_color, $base_color, 0.86);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: lighten($base_color, 0.15);
$backdrop_text_color: $text_color;
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: $text_color;
$backdrop_insensitive_color: mix($backdrop_fg_color, $borders_color, 0.35);
$backdrop_selected_bg_color: $selected_bg_color;
$backdrop_selected_fg_color: $selected_fg_color;
$backdrop_borders_color: mix($bg_color, $borders_color, 0.9);
$backdrop_dark_fill: mix($backdrop_bg_color, $backdrop_borders_color, 0.95);
$backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, 0.5);

$backdrop_osd_base: $osd_base;
$backdrop_osd_bg: $osd_bg;
$backdrop_osd_fg: $osd_fg;

$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 12%);
$backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, 0.4);

$backdrop_menu_color: mix($backdrop_bg_color, $backdrop_base_color, 0.01);

$drop_target_color: #85ffe0;

// widget styles
$roundness: 3px;
$spacing: 5px;
$gradient: 0;
$contrast: 0.6;
